Repository ul-mds/gecko: changes, and which Woodpecker steps are due for each by the changed paths.
All: lint, test

lint:
  image: python:3.12
  commands:
  - python -m pip install poetry
  - poetry install
  - poetry run ruff check .
  - poetry run ruff format --check .

test:
  image: python:${PYTHON_VERSION}
  commands:
  - python -m pip install poetry
  - poetry install
  - poetry run pytest

Fix package paths in CI pipeline
  .woodpecker/.lint.yml
  .woodpecker/.test.yml
Due: lint, test

Update package metadata, improve README
  README.md
  poetry.lock
  pyproject.toml
Due: lint, test

Fill out disclaimer section
  README.md
Due: none

Add corruptor that wraps around a function
  gecko/corruptor.py
  tests/test_corruptor.py
Due: lint, test

Pad corruptor functions with noop if sum(p) < 1 in `corrupt_dataframe`
  gecko/corruptor.py
  tests/test_corruptor.py
Due: lint, test

Add publish pipeline step
  .woodpecker/.publish.yml
Due: lint, test

Fix `install-certs.sh` not being downloaded in CI publish step
  .woodpecker/.publish.yml
Due: lint, test

Add benchmark marker, ignore by default unless specified
  pytest.ini
Due: none

Add benchmark fixture, add example benchmark
  tests/conftest.py
  tests/test_bench_generator.py
Due: lint, test

[bench] Add CI benchmark step, test commit message trigger
  .woodpecker/.benchmark.yml
Due: lint, test

Ignore benchmark report directory
  .gitignore
Due: none

Remove foo fixture from tests
  tests/conftest.py
  tests/test_generator.py
Due: lint, test

Silence Pandas deprecation warning in pytest runs
  pytest.ini
Due: none

Set more reasonable dependency ranges, update deps and lock file
  poetry.lock
  pyproject.toml
Due: lint, test

Change corruptor signature to use lists, change tests
  gecko/corruptor.py
  tests/test_corruptor.py
Due: lint, test

Change test pipeline to log reason for skipped tests
  .woodpecker/.test.yml
Due: lint, test

Add permute corruptor
  gecko/corruptor.py
  tests/test_corruptor.py
Due: lint, test

Adapt `corrupt_dataframe` to new corruptor function signature
  gecko/corruptor.py
  tests/test_corruptor.py
Due: lint, test

Change keys in `corrupt_dataframe` dict to tuple to be hashable
  gecko/corruptor.py
Due: lint

Fix `corrupt_dataframe` modifying input data frame, add test for multicolumn noop
  gecko/corruptor.py
  tests/test_corruptor.py
Due: lint, test

Add tests to ensure original series and dataframes are not modified by corruptors
  tests/test_corruptor.py
Due: lint, test

Add docs to `with_permute`
  gecko/corruptor.py
Due: lint

Add option for single weighted corruptors to `corrupt_dataframe`, add stricter tests
  gecko/corruptor.py
  tests/test_corruptor.py
Due: lint, test

Add stricter type check to corruptor defs of `corrupt_dataframe`
  gecko/corruptor.py
Due: lint

Remove unnecessary error function
  gecko/corruptor.py
Due: lint

Remove `NoReturn` by having error funcs return errors directly
  gecko/corruptor.py
Due: lint

Change `to_dataframe` signature to be similar to that of `corrupt_dataframe`, add tests
  gecko/generator.py
  tests/test_generator.py
Due: lint, test

Fix corruptor call in README
  README.md
Due: none

Add optional name argument to benchmark function
  tests/conftest.py
Due: lint, test

[bench] Add fruit data generation from docs to benchmark
  tests/assets/freq-fruit-origin.csv
  tests/test_bench_fruits.py
  tests/test_bench_generator.py
Due: lint, test

Add `to_dataframe` benchmark, move generator creation to setup
  tests/test_bench_fruits.py
Due: lint, test

Expand fruit benchmark suite
  tests/test_bench_fruits.py
Due: lint, test

[bench] Add extra key to benchmark output
  tests/conftest.py
  tests/test_bench_fruits.py
Due: lint, test

Update README
  README.md
Due: none

Bump project version to 0.2.0
  pyproject.toml
Due: lint, test

Add lint and test actions
  .github/workflows/test.yml
Due: none

Add mkdocs dependency
  poetry.lock
  pyproject.toml
Due: lint, test

Add files from docs repo
  docs/data-corruption.md
  docs/data-generation.md
  docs/examples/german.md
  docs/img/gecko-architecture.png
  docs/index.md
  docs/release-notes.md
  mkdocs.yml
Due: none

Add workflow to build and deploy docs
  .github/workflows/docs.yml
Due: none

Path conditions:
  lint: any of: .woodpecker/*.yml, gecko/**/*.py, tests/**/*.py, pyproject.toml
  test: any of: .woodpecker/*.yml, geco/**/*.py, tests/**/*.py, tests/assets/**, pyproject.toml
